* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-hbs-eng.eng-hbs.rlx -text
/apertium-hbs-eng.eng-hbs.t1x -text
/apertium-hbs-eng.eng-hbs.t2x -text
/apertium-hbs-eng.eng-hbs.t3x -text
/apertium-hbs-eng.eng-hbs_BS.lrx -text
/apertium-hbs-eng.eng-hbs_HR.lrx -text
/apertium-hbs-eng.eng-hbs_SR.lrx -text
/apertium-hbs-eng.eng.acx -text
/apertium-hbs-eng.eng.dix -text
/apertium-hbs-eng.hbs-eng.dix -text
/apertium-hbs-eng.hbs-eng.lrx -text
/apertium-hbs-eng.hbs-eng.t1x -text
/apertium-hbs-eng.hbs-eng.t2x -text
/apertium-hbs-eng.hbs-eng.t3x -text
/apertium-hbs-eng.post-eng.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-sh-en.sh-en.dix -text
dev/apertium-sh-en.sh-en.t1x -text
/eng-hbs.prob -text svneol=unset#unset
/hbs-eng.prob -text svneol=unset#unset
/modes.xml -text
texts/eval-translator.txt -text
texts/midterm1.eng.txt -text
texts/midterm1.hbs-eng.txt -text
texts/midterm1.hbs.txt -text
texts/midterm2.hbs.txt -text
texts/rasskaz.eng.txt -text
texts/rasskaz.hbs.txt -text
texts/wiki_let3.eng.txt -text
texts/wiki_let3.hbs-eng.txt -text
texts/wiki_let3.hbs.txt -text
