/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/cyr-lat.autopmor.bin
/eng-hbs.autobil.bin
/eng-hbs.automorf.bin
/eng-hbs.rlx.bin
/eng-hbs.t1x.bin
/eng-hbs.t2x.bin
/eng-hbs.t3x.bin
/eng-hbs_BS.autogen.bin
/eng-hbs_BS.autolex.bin
/eng-hbs_BS.autopgen.bin
/eng-hbs_HR.autogen.bin
/eng-hbs_HR.autolex.bin
/eng-hbs_HR.autopgen.bin
/eng-hbs_SR.autogen.bin
/eng-hbs_SR.autolex.bin
/eng-hbs_SR.autopgen.bin
/hbs-eng.autobil.bin
/hbs-eng.autogen.bin
/hbs-eng.autolex.bin
/hbs-eng.automorf.bin
/hbs-eng.autopgen.bin
/hbs-eng.rlx.bin
/hbs-eng.t1x.bin
/hbs-eng.t2x.bin
/hbs-eng.t3x.bin
/install-sh
/missing
/modes
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/INSTALL
/*.mode
/*-*.prob
/.deps
/config.in
/config
/test/*-output.txt
